* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #f7f7f7;
}

body {
    font: 14px sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Components */

.button {
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.2;
    display: inline-block;
    outline: 0;
    padding: 9px 19px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: #555;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    user-select: none;
}

.button:active {
    transform: translateY(1px);
}

/* App */

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    height: 65px;
    display: flex;
    flex-direction: row;
    background: #222;
    xxborder-bottom: 1px solid #333;
    color: #eee;
    width: 100%;
}

.header__logo {
    margin-left: 1rem;
    flex: 1;
    align-self: center;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1rem;
}

.header__nav {
    align-self: center;
    justify-self: flex-end;
}

.header__nav .button.unsaved {
    background: #6a6;
}

/* Page */

.page {
    flex: 1;
    background: linear-gradient(0deg, #000, #222);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.page h1 {
    font-weight: 200;
    margin-bottom: 1rem;
}

.page a {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.page a:hover {
    border-bottom-color: rgba(255, 255, 255, 0.9);
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery__thumb {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.gallery__img {
    border-radius: 3px;
}

.gallery__link {
    display: inline-block;
    border: 0 !important;
}

.gallery__link:active {
    transform: translateY(2px);
}


/* Editor */

.editor {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.editor__toolbar {
    height: 40px;
    background: #666;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #777;
    border-bottom: 2px solid #555;
}

.editor__toolbar .button {
    padding: 5px 8px;
    background: #6a6;
    font-size: 0.8rem;
}

.seed-picker {
    display: flex;
}

.seed-picker__prev {
    background: #777 !important;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 12px;
}

.seed-picker__next {
    background: #777 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 12px;
}

.seed-picker__value {
    background: #777 !important;
    padding: 2px 4px;
    border: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.seed-picker__input {
    outline: none;
    font-size: 0.9rem;
    width: 50px;
    text-align: center;
    font-family: "SF Mono", Menlo, monospace;
    border: 0;
    background: transparent;;
    color: white;
}

.editor__panels {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.editor__source {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editor__debug {
    font-family: "SF Mono", Menlo, monospace;
    padding: 10px;
}

.editor__viewer {
    flex: 1;
}

.editor__area {
    width: 100%;
    height: 100%;
    color: inherit;
    font-family: "SF Mono", Menlo, monospace;
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    flex: 1;
}

.editor__viewer {
    border-left: 2px solid #ddd;
    width: 50%;
}

.editor__result {
    padding: 10px;
    overflow-y: auto;
    position: relative;
    min-width: 100%;
    min-height: 100%;
}
