/* Colors based on plantpower1 theme */
/* https://color.adobe.com/plantpower1-color-theme-10440009/ */
:root {
    --pink: #ff135c;
    --white: #fff;
    --green: #3a8828;
    --yellow: #fffd00;
    --greenish: #45f7b4;

    --header-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body {
    background: var(--white);
    margin: 0;
}

html.fullscreen,
.fullscreen body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font: 14px sans-serif;
    color: #444;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Components */

.button {
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.2;
    display: inline-block;
    outline: 0;
    padding: 9px 19px;
    margin: 0 10px 0 0;
    border-radius: 3px;
    border: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    background: #555;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    user-select: none;
}

.button:active {
    transform: translateY(1px);
}

/* App */

.app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    background: var(--pink);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid var(--green);
    color: #fff;
    width: 100%;
    z-index: 999;
    position: fixed;
}

.header__logo {
    margin-left: 1rem;
    flex: 1;
    align-self: center;
    font-size: 64px;
    padding: 5px 0;
    font-weight: 900;
}

.header__nav {
    align-self: center;
    justify-self: flex-end;
}

.header__nav .save-button {
    opacity: 0.2;
}

.header__nav .save-button.unsaved {
    background: #6a6;
    opacity: 1.0;
}

/* Page */

.page {
    flex: 1;
    padding-top: var(--header-height);
}

.page.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page h1 {
    font-weight: 200;
    margin-bottom: 1rem;
}

.page a {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.page a:hover {
    border-bottom-color: rgba(255, 255, 255, 0.9);
}

/* Home */

.intro {
    padding: 5rem 2rem;
/*    background: #fffd00;
    color: #333;
    border-bottom: 10px solid #3a8828;
*/
    background: linear-gradient(#eee, #fff);
}

.intro__inner {
    max-width: 900px;
    margin: 0 auto;
}

.intro__large {
    font-size: 36px;
    font-weight: 200;
}

.intro__cta {
    width: 100%;
    text-align: center;
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
}

.intro__cta .button {
    color: white;
    padding: 8px 12px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.intro__cta .button:hover {
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.intro__cta .button.primary {
    background: var(--pink);
}

.gallery {
    background: white;
}

.gallery__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

.gallery h1 {
    width: 100%;
    text-align: center;
}

.gallery__thumb {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.gallery__img {
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery__link {
    display: inline-block;
    border: 0 !important;
}

.gallery__link:active {
    transform: translateY(2px);
}

/* Editor */

.editor {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding-top: var(--header-height);
}

.embed .editor {
    padding-top: 0;
}

.editor__source-wrap,
.editor__viewer-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editor__toolbar {
    height: 50px;
    min-height: 50px;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.editor__toolbar .button {
    padding: 5px 8px;
    background: var(--pink);
    font-size: 0.8rem;
}

.editor__toolbar-left {
    flex: 1;
}

.editor__toolbar-center {
    flex: 1;
    text-align: left;
}

.editor__toolbar-right {
    flex: 1;
    text-align: right;
}

.editor__toolbar-right a {
    color: #eee;
    text-decoration: underline;
    opacity: 0.8;
}

.seed-picker {
    display: flex;
}

.seed-picker__prev {
    background: #777 !important;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 12px;
}

.seed-picker__next {
    background: #777 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    line-height: 12px;
}

.seed-picker__value {
    background: #777 !important;
    padding: 2px 4px;
    border: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.seed-picker__input {
    outline: none;
    font-size: 0.9rem;
    width: 50px;
    text-align: center;
    font-family: "SF Mono", Menlo, monospace;
    border: 0;
    background: transparent;
    color: white;
}

.editor__panels {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.editor__source {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.editor__debug {
    font-family: "SF Mono", Menlo, monospace;
    padding: 10px;
}

.editor__area {
    width: 100%;
    height: 100%;
    color: inherit;
    font-family: "SF Mono", Menlo, monospace;
    background: none;
    outline: none;
    border: none;
    padding: 10px;
    flex: 1;
}

.editor__viewer {
    border-left: 2px solid #ddd;
    flex: 1;
}

.editor__result {
    padding: 10px;
    overflow-y: auto;
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

/* Docs */

.docs {
    background: #f7f7f7;
    color: #444;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.docs__nav {
    width: 300px;
    padding-top: 10px;
    position: fixed;
}

.docs__nav ul {
    list-style: none;
}

.docs__nav li {
}

.docs__nav li a {
    padding: 10px 15px;
    display: block;
    border-bottom: none !important;
}

.docs__nav li a.docs__header {
    border-bottom: 1px solid #ddd !important;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.docs__nav li a.active {
    font-weight: bold;
    color: #000;
}

.docs__body {
    flex: 1;
    min-height: 100%;
    padding: 20px 30px;
    max-width: 50rem;
    margin-left: 300px;
    border-left: 1px solid #ddd;
}

.docs__body h2 {
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.docs__body p,
.docs__body li {
    line-height: 1.5;
}

.docs__body ul {
    margin-bottom: 1rem;
}

.docs__body li {
    margin-bottom: 0.5rem;
}

.docs__body hr {
    border: 0;
    border-bottom: 2px solid #ddd;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.docs__body img {
    height: 300px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.docs__body a {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.docs__body a:hover {
    border-bottom-color: rgba(0, 0, 0, 0.9);
}

.docs__body a.noline {
    border-bottom: none !important;
}

.docs__body .code-wrap {
    display: flex;
    width: 100%;
    background: white;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.docs__body pre {
    margin-bottom: 1rem;
    background: white;
    padding: 5px;
    color: #666;
    border-radius: 3px;
    font-size: 12px;
}

.docs__body .code-wrap pre {
    position: relative;
    flex: 1;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.docs__body .code-wrap pre::before {
    content: "sketch";
    position: absolute;
    right: 7px;
    top: 5px;
    font-family: "SF Mono", Menlo, monospace;
    font-size: 11px;
    color: #ddd;
    text-transform: uppercase;
}

.docs__body .code-wrap .code-result {
    position: relative;
    width: 250px;
    padding: 1.4rem 10px;
    border-left: 1px solid #ddd;
    font-family: "SF Mono", Menlo, monospace;
    font-size: 12px;
}

.docs__body .code-wrap .code-result::before {
    content: "result";
    position: absolute;
    right: 7px;
    top: 5px;
    font-size: 11px;
    color: #ddd;
    text-transform: uppercase;
}

.docs__body code {
    font-family: "SF Mono", Menlo, monospace;
    background: white;
    display: inline-block;
    border-radius: 3px;
    padding: 0 0.2rem;
}

.docs__body blockquote {
    background: var(--pink);
    color: white;
    padding: 1rem 1rem 0.2rem 1rem;
    font-size: 18px;
    border-radius: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.docs__body blockquote code {
    color: white;
    background: transparent;
}

.docs__body iframe {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    width: 100%;
    height: 400px;
    border-radius: 3px;
}
